<header class="header">
    <div class="content-wrapper">
        <a routerLink="/" class="logo-link">
            <img src="../../assets/logo.png" alt="Logo Rotondo Consulting" class="logo" />
        </a>
        <span>
            <a href="mailto:mail@kalscheuer-it-solutions.de?subject=Anfrage&body=Sehr geehrte Damen und Herren," aria-label="E-Mail">
                <img src="assets/icons/email.png" alt="Mail" class="icons">
            </a>
            <a href="tel:+4915167066523" aria-label="Telefon">
                <img src="assets/icons/telefon.png" alt="Telefon" class="icons">
            </a>
        </span>
    </div>
   
</header>

