footer {
    height: 95px;
    text-align: right;
    border-top: 4px solid;
    border-image: linear-gradient(to right, #1F6F78, #93E4C1) 100;
}

@media (max-width: 768px) { 
    footer {
        height: 80px; /* Adjust height for smaller screens */
        padding: 10px;
    }
}