<div class="content-wrapper">
    <h1>Impressum</h1>
    <p>
        <b>Kalscheuer IT-Solutions</b><br />
        Richard-Strauss-Ring 30A<br />
        94060 Pocking<br />
    </p>
    <p>
        Verantwortlich:<br />
        Joel Kalscheuer, Gesch&auml;ftsf&uuml;hrer
    </p>

    <h2>Kontakt</h2>
    Telefon: <a href="tel:+4915167066513">+49 (0) 151 / 67066523</a><br />
    Homepage: <a href="https://kalscheuer-it-solutions.de/">www.kalscheuer-it-solutions.de</a><br />
    E-Mail: <a href="mailto:mail@kalscheuer-it-solutions.de?subject=Anfrage&body=Sehr geehrte Damen und Herren,">mail&#64;kalscheuer-it-solutions.de</a>

    <h2>Umsatzsteuer-ID</h2>
    Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &#167;27a Umsatzsteuergesetz: <br />
    DE361926228

    <h2>Verbraucherstreitbeilegung/Universalschlichtungsstelle</h2>
    Es besteht keine Verpflichtung und keine Bereitschaft zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle.

    <h2>Bildnachweis</h2>

    <h2>Haftungsausschluss</h2>
    Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.

</div>
