/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/SofiaPro-Regular.woff2') format('woff2'), url('/assets/fonts/SofiaPro-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SofiaPro';
    src: url('/assets/fonts/SofiaPro-Bold.woff2') format('woff2'), url('/assets/fonts/SofiaPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Needed to make Flexbox work */
    margin: 0;
    font-family: 'SofiaPro', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

nav a, a {
    text-decoration: none;
    color: #000; /* your base color */
}

nav a:visited, a:visited {
    color: inherit; 
}

a:hover {
    color: dimgrey;
}

.content-wrapper {
    max-width: 2000px;
    margin: 0 auto;
    margin-top: 125px;
    padding: 0px 200px;
}

.header .content-wrapper, .footer .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0px 10rem;
    margin-top: 0px;
}

h1, h2 {
    color: #1F6F78;
}

@media (max-width: 768px) { 
    .header .content-wrapper, .footer .content-wrapper {
        padding: 0px 1rem;
    }

    .content-wrapper {
        max-width: 100%;
        padding: 0px 2rem;
        margin-top: 100px;
    }

    html, body {
        font-size: 14px; /* Adjust base font size for smaller screens */
    }
}